@font-face {
  font-family: 'RecklessNeue';
  src: url('../public/fonts/RecklessNeue-Regular.woff2') format('woff2'),
      url('../public/fonts/RecklessNeue-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RecklessNeue';
  src: url('../public/fonts/RecklessNeueTRIAL-RegularItalic.woff2') format('woff2'),
      url('../public/fonts/RecklessNeueTRIAL-RegularItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'SuisseIntl';
  src: url('../public/fonts/SuisseIntl-Book.woff2') format('woff2'),
      url('../public/fonts/SuisseIntl-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}